.navbar{
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.nav-list a {
  text-decoration: none;
  color: #333; /* dark gray text */
  font-weight: bold;
  font-size: 16px;
}

/* When user hovers over a link */
.nav-list a:hover {
  color: #0070f3; /* blue hover effect */
  transition: color 0.3s;
}

